.Posts {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  max-width: 640px;
  margin: auto;
  color: black;
}

.Posts a {
  width: 100%;
  color: inherit;
}

.Posts a:hover {
  color: initial;
}